<div id="elevate" class="container">
      
 </div>
 

    <span class="text-muted"><h1 class="text-center">#ELEV8TED</h1></span>
    
<div class="container">
<div class="row">
    <div class="col-md-4">
      <div class="profile-card text-center">

        <%= image_tag("Storefront.jpg", :alt => "First slide", :class => "img-responsive") %>
        <div class="profile-info">

          

          <h2 class="hvr-underline-from-center">APPAREL<span>HATS & TEES</span></h2>
          <div>Being Elev8ted is a state of living, not just a state of mind. Come by our store and pick up some of our lifestyle apparel!</div>
          <a href="https://twitter.com/Elev8Cannabis"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="mailto:info@elev8cannabis.com"><i class="fa fa-envelope-o fa-2x"></i></a>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card text-center">

        <%= image_tag("Tincture2.jpg", :alt => "First slide", :class => "img-responsive") %>
        <div class="profile-info">

          <h2 class="hvr-underline-from-center">CBD<span>CBD TINCTURES</span></h2>
          <div>Did we mention you can also come to us for your medical marijuana needs? We have a variety of tinctures to cater to whatever your needs are. </div>
          <a href="https://twitter.com/Elev8Cannabis"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="mailto:info@elev8cannabis.com"><i class="fa fa-envelope-o fa-2x"></i></a>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card text-center">

        <%= image_tag("edible2.jpg", :alt => "First slide", :class => "img-responsive") %>
        <div class="profile-info">

          <h2 class="hvr-underline-from-center">EDIBLES<span>COOKIES & MORE</span></h2>
          <div>We have a wide variety of edibles to offer. Sour gummies? Cookies? Candy? You name it. We have it.</div>
          <a href="https://twitter.com/Elev8Cannabis"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="mailto:info@elev8cannabis.com"><i class="fa fa-envelope-o fa-2x"></i></a>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
  <div class="featurette col-md-3">
    <h1 class="featurette-heading">Stay<span class="text-muted"> #Elev8ted</span></h1>
    <p class="lead"> Those who choose to be Elev8ted, choose to be different. We all have unique experiences in life. Unique experiences that can be mentally or physically stimulating. Whether it be long-boarding on the backroads of the PNW or sitting poolside in the hot summer sun, staying #Elev8ted is your way of life. The luxury is the journey, the gold is the destination. </p>
  </div>
  
  <div id="model2" class="card featurette col-md-9">
    <!--<%= image_tag("model2.jpg", :alt => "First slide", :class => "card-block img-rounded img-responsive float-left", :height => "100") %>		<h1>Card Title</h1>-->
		
	</div>
	</div>
</div>

<div class="container">	
	<div class="row">
	  <a href="https://leafly.com/dispensary-info/elev8cannabis", target="_blank">
	  <div id="model3" class="card featurette col-md-6">
	    
	  </div>
	  </a>
	  
	  <a href="https://weedmaps.com/dispensaries/elev8-cannabis", target="_blank">
	  <div id="weedmaps" class="featurette col-md-6">
      
    </div>
    </a>
	</div>
</div>

<div class="container">
<hr class="featurette-divider">
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="profile-card text-center">

            <%= image_tag("model4.jpg", :alt => "First slide", :class => "img-responsive") %>
            <div class="profile-info">
    
              <h2 class="hvr-underline-from-center">You must be over 21 to view this site.<span></span></h2>
              <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">I'm over 21</a>
              &nbsp;&nbsp;
              <a href="https://google.com" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">I'm under 21</a>
            </div>
          </div>
      </div>
  </div>
</div>



<script type="text/javascript"> 
    //Call the method on pageload
    $(window).load(function(){
      //Display the modal popup
        $('#myModal').modal({backdrop: 'static', keyboard: false});
    });
</script>