<!DOCTYPE html>
<html>
  <head>
    <title>Elev8</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <div class="container">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand-name" href="/">
        <h3 class="navbar-text p-b-1"><i class="fa fa-home"></i> ELEV8</h3>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "ABOUT", about_path %></li>
        <li><a href="https://www.leafly.com/dispensary-info/elev8cannabis", target="_blank">MENU</a></li>
        <li><%= link_to "CONTACT", new_contact_path %></li>
      </ul>
    </div>
    </nav>
    </div>

  <body>
    <%= yield %>
  </body>
  
  <div  class="navbar navbar-inverse navbar-static-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
      <p class="navbar-brand">&copy; 2017 Elev8 Cannabis. All Rights Reserved.</p>
      </div>
      <div class="col-md-5  hidden-xs">
      <div id="navigation">
        <ul id="conform" class="list-inline nav navbar-right navbar-nav text-center">
          <li><a id="facebook" href="https://www.facebook.com/elev8canna6is/", target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
          <li><a id="twitter" href="https://twitter.com/Elev8Cannabis", target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
          <li><a id="instagram" href="https://www.instagram.com/elev8cannabis/", target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
          <li><a id="google" href="https://www.facebook.com/elev8canna6is/", target="_blank"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a><li>
        </ul>
      </div>
      </div>
      </div>
     </div>
    </div>
    <div class="container visible-xs">
      <div class="row inline-block">
        <div class="col-xs-12 text-center">
          <a id="facebook" href="https://www.facebook.com/elev8canna6is/", target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a id="twitter" href="https://twitter.com/Elev8Cannabis", target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a id="instagram" href="https://www.instagram.com/elev8cannabis/", target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <a id="google" href="https://www.facebook.com/elev8canna6is/", target="_blank"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>&nbsp;&nbsp;
        </div>
      </div>
    </div>
    
</html>
