<!DOCTYPE html>
<html>
  <head>
    <title>Elev8</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand-name" href="/">
        <h3 class="navbar-text p-b-1"><i class="fa fa-home"></i> ELEV8</h3>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "ABOUT", about_path %></li>
        <li><a href="https://www.leafly.com/dispensary-info/elev8cannabis", target="_blank">MENU</a></li>
        <li><%= link_to "CONTACT", new_contact_path %></li>
      </ul>
    </div>
    </div>
    </nav>

  <body>
    <%= yield %>
  </body>
  
  <div  class="navbar navbar-inverse navbar-static-bottom">
    <div class="container">
      <p class="navbar-brand">&copy; 2017 Elev8 Cannabis. All Rights Reserved.</p>
      <div id="navigation">
        <ul class="nav navbar-right navbar-nav">
          <li id="facebook" style="margin-right: 10px; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></li>
          <li id="twitter" style="margin-right: 10px; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
          <li id="instagram" style="margin-right: 10px; padding-right: 4px; padding-left: 4px; padding-top: 0px; padding-bottom: 0px;"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
          <li id="google" style="margin-right: 10px; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i><li>
        </ul>
      </div>
     </div>
    </div>
    
</html>
